section.about-us 
    .container 
        .descr 
            h2 О нас
            p Наша компания занимается разработкой, изготовлением и монтажом различных изделий из металла любой сложности, от элементарных сварных конструкций до сложных кованых изделий.
            p За годы работы мы накопили бесценный опыт в производстве и реставрации изделий художественной ковки, мы постоянно совершенствуемся, изучаем приемы, как древних мастеров нашего ремесла, так и основы современных технологий.
            a(href="").btn.btn-more-about-us подробнее 
        .img
            img(src="../assets/images/about-us.jpg", alt="")