section.categories
    .container 
        a(href="").category 
            img(src="../assets/images/catalog_images/categories_images/furniture.jpg", alt="")
            h3 Кованная мебель
        a(href="").category 
            img(src="../assets/images/catalog_images/categories_images/homeAndGarden.jpg", alt="")
            h3 Для дома и сада
        a(href="").category 
            img(src="../assets/images/catalog_images/categories_images/wicketsAndFences.jpg", alt="")
            h3 Калитки, заборы и пр.
            