section.categories
    .container 
        a(href="").category 
            .img-wrapper
                .img(style="background-image: url(../assets/images/catalog_images/categories_images/furniture.jpg)")
            h3 Кованная мебель
        a(href="").category 
            .img-wrapper
                .img(style="background-image: url(../assets/images/catalog_images/categories_images/homeAndGarden.jpg)")
            h3 Для дома и сада
        a(href="").category 
            .img-wrapper
                .img(style="background-image: url(../assets/images/catalog_images/categories_images/wicketsAndFences.jpg)")
            h3 Калитки, заборы и пр.
            