section.contacts 
    .container
        .contacts-block 
            h2 Контакты
            .address 
                p Адрес:
                p г. Н.Новгород, ул. Федосеенко, 44а
            .phones 
                p Телефоны:
                a(href="tel:89202505598")  8 920 250 55 98
                a(href="tel:89082330690")  8 908 233 06 90
            .mail 
                p E-mail:
                a(href="mailto:info@kovkamag.com") info@kovkamag.com
            .time 
                p Режим работы:
                p Пн-Вск: 9:00-21:00
        .map
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A11396ba4a10e126c1b2e679ef8b938574003df1a4d36d442f4eaf7e8e7fcacef&amp;width=100%;height=100%;lang=ru_RU&amp;scroll=true"></script>
