section.examplesOfOurWorks 
    .container 
        h2 Примеры наших работ
        .owl-carousel.our-works-carousel
            .carousel-item 
                a(href="../assets/images/our_works/our-works-carousel-item.jpg")
                    img(src="../assets/images/our_works/our-works-carousel-item.jpg", alt="")
            .carousel-item 
                a(href="../assets/images/our_works/our-works-carousel-item.jpg")
                    img(src="../assets/images/our_works/our-works-carousel-item.jpg", alt="")
            .carousel-item 
                a(href="../assets/images/our_works/our-works-carousel-item.jpg")
                    img(src="../assets/images/our_works/our-works-carousel-item.jpg", alt="")
        .btn-next.btn-our-works-carousel
        .btn-prev.btn-our-works-carousel
        a(href="").btn.btn-more-works больше наших работ