footer 
    .container 
        .left 
            ul.menu 
                li 
                    a(href="") Каталог
                li 
                    a(href="") Услуги
                li 
                    a(href="") Оплата и доставка
                li 
                    a(href="") Акции
                li 
                    a(href="") О компании
                li 
                    a(href="") Контакты
            p.develop Разработка сайта: 
                span Salut Promo
        .right 
            p.copyright Copyrigth 2022 - все права защищены. Копирование информации без указания источника преследуется законом
            a(href="").policy Политика конфиденциальности