header
    .container 
        a(href="") 
            img.logo(src="../assets/images/logo.png", alt="")
        .working-hours 
            p Режим работы: Пн-Вск: 9-21
        .btn.btn-callback Обратный звонок
        .phones 
            a(href="tel:89202505598") 8 920 250 55 98
            a(href="tel:89082330690") 8 908 233 06 90
        .social 
            a.whatsapp(href="https://www.whatsapp.com/")
            a.viber(href="https://www.viber.com/ru/") 