section.hits 
    .container 
        h2 Хиты продаж
        .products 
            a(href="").product 
                img(src="../assets/images/catalog_images/hits/bench.jpg", alt="")
                h3 Скамья садовая кованная &#171;Элегант&#187;
                .price
                    p.old-price.active 18 500 руб.
                    p.actual-price 14 500 руб.
                .discount.active
                    p скидка -30%
            a(href="").product 
                img(src="../assets/images/catalog_images/hits/bench.jpg", alt="")
                h3 Скамья садовая кованная &#171;Элегант&#187;
                .price
                    p.old-price 18 500 руб.
                    p.actual-price 14 500 руб.
                .discount
                    p скидка -30%
            a(href="").product 
                img(src="../assets/images/catalog_images/hits/bench.jpg", alt="")
                h3 Скамья садовая кованная &#171;Элегант&#187;
                .price
                    p.old-price
                    p.actual-price 14 500 руб.
                .discount
                    p скидка -30%
            a(href="").product 
                img(src="../assets/images/catalog_images/hits/bench.jpg", alt="")
                h3 Скамья садовая кованная &#171;Элегант&#187;
                .price
                    p.old-price
                    p.actual-price 14 500 руб.
                .discount
                    p скидка -30%
            a(href="").product 
                img(src="../assets/images/catalog_images/hits/bench.jpg", alt="")
                h3 Скамья садовая кованная &#171;Элегант&#187;
                .price
                    p.old-price
                    p.actual-price 14 500 руб.
                .discount
                    p скидка -30%
            a(href="").product 
                img(src="../assets/images/catalog_images/hits/bench.jpg", alt="")
                h3 Скамья садовая кованная &#171;Элегант&#187;
                .price
                    p.old-price
                    p.actual-price 14 500 руб.
                .discount
                    p скидка -30%
        a(href="").btn.btn-go-to-catalog Перейти в каталог