section.navbar 
    .container 
        ul 
            li.catalog-btn
                .btn-catalog-icon
                    .catalog-menu 
                a(href="") Каталог
            li 
                a(href="") Услуги
            li 
                a(href="") Оплата и доставка
            li 
                a(href="") Акции
            li 
                a(href="") О компании
            li 
                a(href="") Контакты
        .btn-close-menu