section.navbar 
    .container 
        ul 
            li.catalog-btn
                .btn-catalog-icon
                    .catalog-menu 
                a(href="") Каталог
                .catalog-list 
                    a(href="") Кованые вешалки
                    a(href="") Кованые кровати
                    a(href="") Кованые стеллажи
                    a(href="") Кованые столы
                    a(href="") Кованые банкетки
                    a(href="") Кованые туалетные столики
                    a(href="") Прикроватные столы, тумбы
                    a(href="barbecues.html") Мангалы
            li.services-btn 
                a(href="") Услуги
                .services-list 
                    a(href="services-gates-and-fences.html") Изготовление ворот и заборов
            li 
                a(href="") Оплата и доставка
            li 
                a(href="") Акции
            li 
                a(href="aboutUs.html") О компании
            li 
                a(href="") Контакты
        .btn-close-menu