include mixins.pug 
section.top-block 
    video(preload="auto" autoplay="true" loop="true" muted playsinline poster="../assets/images/backgrounds/header-background.jpg" src="../assets/media/pexels-tima-miroshnichenko-5846383.mp4") 
    .container 
        +MainCarousel()
        