include pug/mixins.pug

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        include pug/head.pug
    body
        .btn-menu-mobile
        include pug/header.pug
        include pug/navbar.pug
        
        section.internal-top-block.top-block(style="background-image:url(assets/images/backgrounds/about-us-background.jpg)")
            .container 
                .bread-crumbs 
                    a(href="index.html") Главная 
                    span.active - 
                    a(href="aboutUs.html").active О компании
                h1 О компании
                h2 Наша компания занимается разработкой, изготовлением и монтажом различных изделий из металла любой сложности, от элементарных сварных конструкций до сложных кованных изделий.
                a(href="").btn Обсудить идею 

        section.descr-about-us 
            .container 
                h2 Кованные изделия для дома:<br>изысканность и качество
                p Кованые изделия успешно применяются в интерьере домов и отделке фасадов многие годы, придавая им индивидуальность, уют, изящество и непревзойденный шарм. Прочность, долговечность, уникальность – лишь некоторые преимущественные особенности кованой мебели, каждая деталь которой создается опытными мастерами индивидуально.
                p Современные изделия из металла отличаются грациозностью, утонченностью, плавными формами – все это позволяет хозяевам подчеркнуть изысканный вкус, стабильность и финансовое благополучие. Кованая мебель, представленная в интернет-магазине «Магия ковки», отлично смотрится как в загородном доме, так и в условиях стандартной городской квартиры. Также у нас можно купить секции забора, кованые ворота, мебель и прочие предметы интерьера.
        
        include pug/examplesOfOurWorks.pug
        section.internal-bottom-block 
            .container 
                h2 Возможности кованых изделий
                p Область применения изделий из кованого металла очень обширна благодаря тому, что такие предметы отлично сочетаются с практически любым материалом – стеклом, керамикой, камнем и пр. Желание многих людей купить кованые ворота в загородный дом или на дачу обусловлено утонченным внешним видом и прочностью таких изделий.   
                p Благодаря плавности линий и воздушной легкости орнаментов кованые изделия гармонично сочетаются практически со всеми архитектурными решениями. Приняв решение купить кованую мебель в городскую квартиру или загородный дом, хозяева смогут придать особый уют и шарм гостиной, подчеркнуть изысканность столовой. В свою очередь, решение купить кованую кровать или туалетный столик позволяет придать спальне романтическую обстановку. Выделить удачный экстерьер строения можно с помощью разнообразных цветочных подставок, эксклюзивных скамеек и фонариков, а также других изделий из металла.
                p Если вы хотите изменить устоявшийся интерьер, добавив ему  неординарности, следует купить кованую мебель, каждый элемент которой представляет собой шедевр, полученный в результате кропотливой работы мастеров ковки. Такие детали позволяют создать индивидуальный стиль жилища и продемонстрировать изысканный вкус владельцев.
        include pug/contacts.pug
        include pug/footer.pug

        include pug/scripts.pug