include pug/mixins.pug

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        include pug/head.pug
    body
        .btn-menu-mobile
        include pug/header.pug
        include pug/navbar.pug
        
        section.internal-top-block.top-block(style="background-image:url(assets/images/backgrounds/gates-and-fences-background.jpg)")
            .container 
                .bread-crumbs 
                    a(href="index.html") Главная 
                    span - 
                    a(href="services.html") Услуги
                    span.active - 
                    a(href="services-gates-and-fences.html").active Изготовление ворот и заборов
                h1 Изготовление ворот и заборов
                h2 Кованые изделия – тренд архитектурной, ландшафтной и интерьерной моды.
                h2 Благородство художественных форм созданных из металла, необыкновенная практичность и долговечность  выгодно отличают кованые ворота.
                a(href="").btn Обсудить идею 

        section.srvices-gates-and-fences
            .container 
                h2 Кованые ворота, заборы, калитки
                .services
                    a(href="").service
                        img(src="../assets/images/catalog_images/gates_and_fences/gates.jpg", alt="")
                        h3 Кованые ворота с полукарбонатом \ 50
                        .price
                            p.old-price.active от 3 500 руб.
                            p.actual-price от 1 900 руб. п\м
                        .discount.active
                            p скидка -30%
                    a(href="").service
                        img(src="../assets/images/catalog_images/gates_and_fences/fence.jpg", alt="")
                        h3 Кованый забор с полукарбонатом
                        .price
                            p.old-price от 3 500 руб.
                            p.actual-price от 2 500 руб. п\м
                        .discount
                            p скидка -30%
                    a(href="").service
                        img(src="../assets/images/catalog_images/gates_and_fences/gates.jpg", alt="")
                        h3 Кованые ворота с полукарбонатом \ 50
                        .price
                            p.old-price от 3 500 руб.
                            p.actual-price от 1 900 руб. п\м
                        .discount
                            p скидка -30%
                    a(href="").service
                        img(src="../assets/images/catalog_images/gates_and_fences/gates.jpg", alt="")
                        h3 Кованые ворота с полукарбонатом \ 50
                        .price
                            p.old-price от 3 500 руб.
                            p.actual-price от 1 900 руб. п\м
                        .discount
                            p скидка -30%
                    a(href="").service
                        img(src="../assets/images/catalog_images/gates_and_fences/fence.jpg", alt="")
                        h3 Кованый забор с полукарбонатом
                        .price
                            p.old-price от 3 500 руб.
                            p.actual-price от 2 500 руб. п\м
                        .discount
                            p скидка -30%
                    a(href="").service
                        img(src="../assets/images/catalog_images/gates_and_fences/gates.jpg", alt="")
                        h3 Кованые ворота с полукарбонатом \ 50
                        .price
                            p.old-price от 3 500 руб.
                            p.actual-price от 1 900 руб. п\м
                        .discount
                            p скидка -30%
                    a(href="").service
                        img(src="../assets/images/catalog_images/gates_and_fences/gates.jpg", alt="")
                        h3 Кованые ворота с полукарбонатом \ 50
                        .price
                            p.old-price от 3 500 руб.
                            p.actual-price от 1 900 руб. п\м
                        .discount
                            p скидка -30%
                    a(href="").service
                        img(src="../assets/images/catalog_images/gates_and_fences/fence.jpg", alt="")
                        h3 Кованый забор с полукарбонатом
                        .price
                            p.old-price от 3 500 руб.
                            p.actual-price от 2 500 руб. п\м
                        .discount
                            p скидка -30%
                    a(href="").service
                        img(src="../assets/images/catalog_images/gates_and_fences/gates.jpg", alt="")
                        h3 Кованые ворота с полукарбонатом \ 50
                        .price
                            p.old-price от 3 500 руб.
                            p.actual-price от 1 900 руб. п\м
                        .discount
                            p скидка -30%
                    a(href="").service
                        img(src="../assets/images/catalog_images/gates_and_fences/gates.jpg", alt="")
                        h3 Кованые ворота с полукарбонатом \ 50
                        .price
                            p.old-price от 3 500 руб.
                            p.actual-price от 1 900 руб. п\м
                        .discount
                            p скидка -30%
                    a(href="").service
                        img(src="../assets/images/catalog_images/gates_and_fences/fence.jpg", alt="")
                        h3 Кованый забор с полукарбонатом
                        .price
                            p.old-price от 3 500 руб.
                            p.actual-price от 2 500 руб. п\м
                        .discount
                            p скидка -30%
                    a(href="").service
                        img(src="../assets/images/catalog_images/gates_and_fences/gates.jpg", alt="")
                        h3 Кованые ворота с полукарбонатом \ 50
                        .price
                            p.old-price от 3 500 руб.
                            p.actual-price от 1 900 руб. п\м
                        .discount
                            p скидка -30%
                a(href="").btn показать ещё 
        include pug/examplesOfOurWorks.pug
        section.internal-bottom-block 
            .container 
                h2 Кованые ворота
                p Стилистка и конструкция кованых ворот, как и всех изделий художественной ковки, определяется градостроительным окружением и архитектурными характеристиками прилегающей застройки. Существует два вида кованых ворот - распашные и откатные. Секционные ворота, отрывающиеся "вверх", практически, не используются как въездные. При проектировании и изготовлении кованых ворот и калиток мы придерживаемся простых и понятных нам и заказчику правил: ворота должны быть красивыми, практичными и функциональными.  Большинство ворот, которые приходится проектировать и изготавливать, являются "не прозрачными". Появляется, так называемая, "зашивка" ворот и калиток. В зависимости от стилистики это может быть стальной крашеный лист,  дерево, стекло, поликарбонат, лист полиэстер. Наличие и свойства материала "зашивки" часто определяет конструктивные особенности изделий. Для того, чтобы зашивку можно было легко устанавливать и обслуживать в конструкции ворот предусматривается возможность полного демонтажа материала зашивки без использования сварочных работ и без необходимости подкрашивать ворота. Многолетний опыт говорит о том, что это решение, хотя и усложняет процесс изготовления, является правильным.
        include pug/contacts.pug
        include pug/footer.pug

        include pug/scripts.pug