@media(max-width: 1200px)
{
    .container
    {
        max-width: 1024px;
    }

    header .logo{
        width: 300px;
    }

    .examplesOfOurWorks::before{
        top: -350px;
    }

    footer .left{
        width: 60%;
    }

    footer .right{
        width: 40%;
    }

    footer .right .copyright{
        width: 70%;
    }

    footer .right .policy{
        width: 70%;
    }

    .examplesOfOurWorks .btn-prev.btn-our-works-carousel{
        left: 120px;
    }

    .examplesOfOurWorks .btn-next.btn-our-works-carousel{
        right: 120px;
    }
}

@media(max-width: 1024px)
{
    .container
    {
        max-width: 992px;
    }

    .barbecues{
        .catalog{
            .barbecues-list{
                .barbecue{
                    width: 50%;
                }
            }
        }
    }
}

@media(max-width: 992px)
{
    .container
    {
        max-width: 768px;
    }

    header .phones{
        flex-direction: row;
        padding: 10px 0;
        padding-left: 40px;

        a{
            margin-right: 30px;
        }
    }

    header .social{
        padding: 10px 0;
    }

    .top-block{
        padding-top: 150px;

        video{
            transform: scale(2);
        }
    }

    .categories .category h3{
        text-align: center;
    }

    .hits{
        padding-top: 70px;
    }

    .hits .products .product h3{
        word-break: break-word;
    }

    .examplesOfOurWorks .btn-prev.btn-our-works-carousel{
        left: 85px;
    }

    .examplesOfOurWorks .btn-next.btn-our-works-carousel{
        right: 85px;
    }

    .examplesOfOurWorks::before{
        top: -300px;
    }

    .examplesOfOurWorks::after{
        top: -300px;
    }

    .about-us .container{
        flex-direction: column-reverse;

        .descr{
            width: 100%;
        }

        .img{
            width: 100%;
            height: auto;
        }
    }

    .about-us .descr h2{
        margin-top: 25px;
    }

    .contacts{
        padding-bottom: 50px;
    }

    .contacts .container{
        flex-direction: column;
    }

    .contacts .contacts-block{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 70px;

        h2{
            width: 100%;
        }

        .address{
            width: 50%;
        }

        .phones{
            width: 50%;
        }

        .mail{
            width: 50%;
        }

        .time{
            width: 50%;
        }
    }

    .contacts .map{
        position: relative;
        width: 100%;
        height: 400px;
    }

    footer .container{
        flex-direction: column;

        .left{
            width: 100%;

            .develop{
                margin-top: 30px;
            }
        }

        .right{
            width: 100%;
            margin-top: 30px;

            .copyright{
                width: 100%;
            }

            .policy{
                width: 100%;
            }
        }
    }

    .srvices-gates-and-fences{
        .services{
            .service{
                width: 50%;
            }
        }
    }

    .barbecues{
        .catalog{
            flex-direction: column;

            .btn__switch__wrapper{
                width: 100%;
                flex-direction: row;

                .btn__tab__switch{
                    text-align: center;
                }
            }

            .tab__viewer{
                width: 100%;
                margin-top: 20px;
                padding-left: 0;
            }

            .barbecues-list{
                .barbecue{
                    width: 50%;
                }
            }
        }
    }
}

@media(max-width: 768px)
{
    .container
    {
        max-width: 576px;
    }
    
    .btn-menu-mobile{
        display: block;
        z-index: 10;
    }

    header{
        .phones{
            flex-direction: column;
        }
    }

    .navbar{
        top: 0;
        left: -50vw;
        background: #252525ea;
        width: 50vw;
        padding: 20px 50px;
        z-index: 10;
        transition: 0.5s;
        height: 100vh;


        .container{
            margin: 0;
            padding: 0;
        }

        ul{
            flex-direction: column;
            align-items: center;

            .catalog-btn{
                width: fit-content;

                .catalog-list{
                    left: calc(50% - 150px);
                    align-items: center;

                    a{
                        width: 100%;
                        text-align: center;
                    }
                }
            }
        }

        .btn-close-menu{
            display: block;
        }
    }

    .navbar.active{
        left: 0;
    }

    .top-block{
        video{
            top: -150px;
        }

        h1{
            font-size: 48px;
        }

        h2{
            width: 100%;
        }

        .owl-dots{
            margin-top: 20px;
        }
    }

    .internal-top-block{
        padding-top: 0;
        margin-top: 200px;
    }

    .categories .category h3{
        word-break: break-word;
    }

    .hits .products .product{
        width: 45%;
    }

    .examplesOfOurWorks .btn-prev.btn-our-works-carousel{
        left: 55px;
    }

    .examplesOfOurWorks .btn-next.btn-our-works-carousel{
        right: 55px;
    }

    .about-us .img img{
        height: auto;
    }

    .contacts{
        .contacts-block{
            .address, .phones, .mail, .time{
                width: 100%;
                flex-direction: row;

                p, a{
                    margin-right: 20px;
                }
            }
        }
    }

    .srvices-gates-and-fences{
        .services{
            .service{
                img{
                    height: 200px;
                }
            }
        }
    }

    .barbecues{
        .catalog{
            .barbecues-list{
                .barbecue{
                    width: 100%;
                    margin-bottom: 50px;
                }
            }
        }
    }
}

@media(max-width: 576px)
{
    .container
    {
        max-width: 100%;
    }

    header{
        .container{
            align-items: center;
            justify-content: center;
        }

        .phones{
            font-size: 14px;
            margin-top: 20px;
            width: 70%;

            a{
                margin-right: 20px;
            }
        }

        .social{
            margin-top: 20px;
        }

        .working-hours{
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            text-align: center;
            margin-top: 20px;
        }

        .btn-callback{
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
        }
    }

    .navbar{
        ul{
            align-items: center;
        }

    }

    .top-block{
        padding-top: 250px;

        video{
            transform: scale(5);
        }

        h1{
            font-size: 40px;
        }
    }

    .internal-top-block{
        padding-top: 0;
        margin-top: 300px;
    }

    .categories{
        .container{
            flex-wrap: wrap;
        }

        .category{
            width: 100%;
            margin-bottom: 50px;
        }
    } 

    .hits{
        padding-top: 0;

        .products{
            .product{
                width: 100%;
            }
        }

        h2{
            font-size: 45px;
        }
    }

    .examplesOfOurWorks .btn-prev.btn-our-works-carousel{
        left: 5%;
        top: 50%;
    }

    .examplesOfOurWorks .btn-next.btn-our-works-carousel{
        right: 5%;
        top: 50%;
    }

    .examplesOfOurWorks::before{
        top: -250px;
    }

    .examplesOfOurWorks h2{
        font-size: 45px;
    }

    .about-us .img img{
        height: auto;
    }

    .about-us .descr h2{
        font-size: 45px;
    }

    .contacts{
        .contacts-block{
            .address, .phones, .mail, .time{
                flex-direction: column;
                font-size: 20px;
            }

            h2{
                font-size: 45px;
            }
        }
    }

    footer .left .menu{
        flex-wrap: wrap;
        flex-direction: column;

        li{
            margin-bottom: 10px;
        }
    }

    .navbar{
        width: 100vw;
        height: 100vh;
        left: -100vw;
        background: #252525f5;
    }

    .navbar.active{
        left: 0;
    }

    .descr-about-us h2{
        font-size: 40px;
    }

    .srvices-gates-and-fences{
        .services{
            .service{
                width: 100%;
                margin-bottom: 50px;

                img{
                    height: auto;
                }
            }
        }
    }

    .barbecues{
        .catalog{
            .btn__switch__wrapper{
                flex-direction: column;
            }
        }
    }
}